<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Resume - Umar</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/Profile.png" alt="">
                    </div>
                    <div class="left_1-2">
                        <%=user.name%>
                    </div>
                    <div class="left_1-3">
                        <%=user.profession%>
                    </div>
                    <div class="left-icons">
                        <a href="#" class="link_href">
                            <div class="icon">
                                <img src="icon/Facebook.svg" alt="" class="icon-1">
                            </div>
                        </a>
                        <a href="#" class="link_href">
                            <div class="icon">
                                <img src="icon/Instagram.svg" alt="" class="icon-1">
                            </div>
                        </a>
                        <a href="#" class="link_href">
                            <div class="icon">
                                <img src="icon/Twitter.svg" alt="" class="icon-1">
                            </div>
                        </a>

                        <a href="#" class="link_href">
                            <div class="icon">
                                <img src="icon/YouTube.svg" alt="" class="icon-1">
                            </div>
                        </a>
                        <a href="#" class="link_href">
                            <div class="icon">
                                <img src="icon/Dribbble.svg" alt="" class="icon-1">
                            </div>
                        </a>

                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2-1">
                        <div class="key">Age:</div>
                        <div class="value">24</div>
                    </div>
                    <div class="left_2-1">
                        <div class="key">Residence:</div>
                        <div class="value">
                            <%=user.residence%>
                        </div>
                    </div>
                    <div class="left_2-1">
                        <div class="key">Freelance:</div>
                        <div class="value">Available</div>
                    </div>
                    <div class="left_2-1">
                        <div class="key">Address:</div>
                        <div class="value">
                            <%=user.address%>
                        </div>
                    </div>

                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="lan">Languages</div>
                    <div class="left_3-1">
                        <div class="percent">
                            <%=user.languages[1]%>
                        </div>
                        <div class="percent">99%</div>
                    </div>
                    <div class="yell-mar"></div>
                    <div class="left_3-1">
                        <div class="percent">
                            <%=user.languages[0]%>
                        </div>
                        <div class="percent">90%</div>
                    </div>
                    <div class="yell-mar" style="width: 90%;"></div>
                    <div class="left_3-1">
                        <div class="percent">
                            <%=user.languages[2]%>
                        </div>
                        <div class="percent">50%</div>
                    </div>
                    <div class="yell-mar" style="width: 50%;"></div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="lan">Skills</div>
                    <div class="left_3-1">
                        <div class="percent">
                            HTML
                        </div>
                        <div class="percent">99%</div>
                    </div>
                    <div class="yell-mar"></div>
                    <div class="left_3-1">
                        <div class="percent">
                            CSS
                        </div>
                        <div class="percent">90%</div>
                    </div>
                    <div class="yell-mar" style="width: 90%;"></div>
                    <div class="left_3-1">
                        <div class="percent">
                            JavaScript
                        </div>
                        <div class="percent">85%</div>
                    </div>
                    <div class="yell-mar" style="width: 85%;"></div>
                    <div class="left_3-1">
                        <div class="percent">
                            ReactJS
                        </div>
                        <div class="percent">80%</div>
                    </div>
                    <div class="yell-mar" style="width: 80%;"></div>

                    <div class="left_3-1">
                        <div class="percent">
                            React Native
                        </div>
                        <div class="percent">70%</div>
                    </div>
                    <div class="yell-mar" style="width: 70%;"></div>


                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div class="lan">Extra Skills</div>
                    <div class="left_5-1">
                        <img src="icon/Icons.svg" alt="">
                        <div class="info">Bootstrap, Materialize</div>
                    </div>
                    <div class="left_5-1">
                        <img src="icon/Icons.svg" alt="">
                        <div class="info">Stylus, Sass, Less</div>
                    </div>
                    <div class="left_5-1">
                        <img src="icon/Icons.svg" alt="">
                        <div class="info">Gulp, Webpack, Grunt</div>
                    </div>
                    <div class="left_5-1">
                        <img src="icon/Icons.svg" alt="">
                        <div class="info">GIT Knowledge</div>
                    </div>
                </div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame">
                <div class="one">
                    <div class="one-1">
                        <h1>Full Stack Web Developer in Google</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat
                            lobortis. Natoque rutrum semper sed suspendisse nunc lectus.
                        </p>
                        <a href="#">Hire me -></a>
                    </div>
                    <div class="one-2">
                        <img src="images/your.png" alt="">
                    </div>
                </div>
                <div class="two">
                    <div class="two-1">
                        <h1>My Services</h1>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                            consequat duis enim velit mollit. lorem ipsum</p>
                    </div>
                    <div class="two-2">
                        <div class="box">
                            <img src="icon/coding.svg" alt="">
                            <h4>web development</h4>
                            <p>blog, e-commerce</p>
                        </div>
                        <div class="box">
                            <img src="icon/coding.svg" alt="">
                            <h4>uI/uX design</h4>
                            <p>Mobile app, website design</p>
                        </div>
                        <div class="box">
                            <img src="icon/coding.svg" alt="">
                            <h4>sound design</h4>
                            <p>Voice Over, Beat Making</p>
                        </div>

                    </div>
                    <div class="two-2">
                        <div class="box">
                            <img src="icon/coding.svg" alt="">
                            <h4>game design</h4>
                            <p>Character Design, Props & Objects</p>
                        </div>
                        <div class="box">
                            <img src="icon/coding.svg" alt="">
                            <h4>photography</h4>
                            <p>portrait, product photography</p>
                        </div>
                        <div class="box">
                            <img src="icon/coding.svg" alt="">
                            <h4>advertising</h4>
                            <p>blog, e-commerce</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="right_frame">
                <div class="top">
                    <img src="menu_icon/Contrast.svg" alt="">
                </div>
                <div class="bott">
                    <img src="menu_icon/Home.svg" alt="">
                    <img src="menu_icon/Service.svg" alt="">
                    <img src="menu_icon/Cv.svg" alt="">
                    <img src="menu_icon/Portfolio.svg" alt="">
                    <img src="menu_icon/Blog.svg" alt="">
                    <img src="menu_icon/Contact.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>